*{margin:0;padding:0;}
body{
    height: 100vh;
    background: grey url(./1.png) no-repeat center center;
    background-size: cover;
}
.row{
    margin: 16px;
}

kbd.key{
    border:1px solid #373737;
    width: 50px;
    height:40px;
    background: linear-gradient(to bottom, #292929 0%,#111111 100%);
    color:#c5c5c5;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #1A1B1C, 0 0 0px 2px #1f2020,0 3px 0 2px #080808;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 10px;
    font-size: 18px;
    font-family: Helvetica;
    position: relative;
}
.key .text{
    position: absolute;
    left:4px;
    top:2px;
}
.key img{
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 2px;
    left: 4px;
}
kbd button{
    position: absolute;
    bottom:0;
    right:0;
    display: none;
}
kbd:hover>button{
    display: inline-block;
}
main{
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
main .wraper{
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    background-size: cover;
    

}
main .wraper>div:nth-child(2){
    margin-left: -22px;
}
main .wraper>div:nth-child(3){
    margin-left: -80px;
}

